In [1]:
import featuretools as ft

In [3]:
data = ft.demo.load_mock_customer()

In [4]:
customers_df = data["customers"]

In [11]:
sessions_df = data["sessions"]

In [12]:
transactions_df = data["transactions"]

In [13]:
In [9]: entities = {
"customers" : (customers_df, "customer_id"),
"sessions" : (sessions_df, "session_id", "session_start"),
"transactions" : (transactions_df, "transaction_id", "transaction_time")
}

In [14]:
relationships = [("sessions", "session_id", "transactions", "session_id"),
                 ("customers", "customer_id", "sessions", "customer_id")]

In [15]:
feature_matrix_customers, features_defs = ft.dfs(entities=entities,
                                                  relationships=relationships,
                                                  target_entity="customers")

In [16]:
feature_matrix_customers

,zip_code,COUNT(sessions),NUM_UNIQUE(sessions.device),MODE(sessions.device),SUM(transactions.amount),STD(transactions.amount),MAX(transactions.amount),SKEW(transactions.amount),MIN(transactions.amount),MEAN(transactions.amount),...,NUM_UNIQUE(sessions.MODE(transactions.product_id)),MODE(sessions.DAY(session_start)),MODE(sessions.YEAR(session_start)),MODE(sessions.WEEKDAY(session_start)),MODE(sessions.MONTH(session_start)),MODE(sessions.MODE(transactions.product_id)),NUM_UNIQUE(transactions.sessions.customer_id),NUM_UNIQUE(transactions.sessions.device),MODE(transactions.sessions.customer_id),MODE(transactions.sessions.device)
customer_id,,,,,,,,,,,,,,,,,,,,,
1,60091,8,3,mobile,9025.62,40.442059,139.43,0.019698,5.81,71.631905,...,4,1,2014,2,1,4,1,3,1,mobile
2,13244,7,3,desktop,7200.28,37.705178,146.81,0.098259,8.73,77.422366,...,4,1,2014,2,1,3,1,3,2,desktop
3,13244,6,3,desktop,6236.62,43.683296,149.15,0.418230,5.89,67.060430,...,4,1,2014,2,1,1,1,3,3,desktop
4,60091,8,3,mobile,8727.68,45.068765,149.95,-0.036348,5.73,80.070459,...,5,1,2014,2,1,1,1,3,4,mobile
5,60091,6,3,mobile,6349.66,44.095630,149.02,-0.025941,7.55,80.375443,...,5,1,2014,2,1,3,1,3,5,mobile

In [17]:
features_defs

[<Feature: zip_code>,
 <Feature: COUNT(sessions)>,
 <Feature: NUM_UNIQUE(sessions.device)>,
 <Feature: MODE(sessions.device)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(join_date)>,
 <Feature: DAY(date_of_birth)>,
 <Feature: YEAR(join_date)>,
 <Feature: YEAR(date_of_birth)>,
 <Feature: MONTH(join_date)>,
 <Feature: MONTH(date_of_birth)>,
 <Feature: WEEKDAY(join_date)>,
 <Feature: WEEKDAY(date_of_birth)>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SUM(sessions.MEAN(transactions.amount))>,
 <Feature: SUM(sessions.MIN(transactions.amount))>,
 <Feature: SUM(sessions.STD(transactions.amount))>,
 <Feature: SUM(sessions.MAX(transactions.amount))>,
 <Feature: SUM(sessions.SKEW(transactions.amount))>,
 <Feature: STD(sessions.COUNT(transactions))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: STD(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.MIN(transactions.amount))>,
 <Feature: STD(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.MAX(transactions.amount))>,
 <Feature: STD(sessions.SKEW(transactions.amount))>,
 <Feature: MAX(sessions.COUNT(transactions))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MAX(sessions.MEAN(transactions.amount))>,
 <Feature: MAX(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.STD(transactions.amount))>,
 <Feature: MAX(sessions.SUM(transactions.amount))>,
 <Feature: MAX(sessions.SKEW(transactions.amount))>,
 <Feature: SKEW(sessions.COUNT(transactions))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SKEW(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.MIN(transactions.amount))>,
 <Feature: SKEW(sessions.STD(transactions.amount))>,
 <Feature: SKEW(sessions.SUM(transactions.amount))>,
 <Feature: SKEW(sessions.MAX(transactions.amount))>,
 <Feature: MIN(sessions.COUNT(transactions))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MIN(sessions.MEAN(transactions.amount))>,
 <Feature: MIN(sessions.STD(transactions.amount))>,
 <Feature: MIN(sessions.SUM(transactions.amount))>,
 <Feature: MIN(sessions.MAX(transactions.amount))>,
 <Feature: MIN(sessions.SKEW(transactions.amount))>,
 <Feature: MEAN(sessions.COUNT(transactions))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.MEAN(transactions.amount))>,
 <Feature: MEAN(sessions.MIN(transactions.amount))>,
 <Feature: MEAN(sessions.STD(transactions.amount))>,
 <Feature: MEAN(sessions.SUM(transactions.amount))>,
 <Feature: MEAN(sessions.MAX(transactions.amount))>,
 <Feature: MEAN(sessions.SKEW(transactions.amount))>,
 <Feature: NUM_UNIQUE(sessions.DAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.YEAR(session_start))>,
 <Feature: NUM_UNIQUE(sessions.WEEKDAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MONTH(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.product_id))>,
 <Feature: MODE(sessions.DAY(session_start))>,
 <Feature: MODE(sessions.YEAR(session_start))>,
 <Feature: MODE(sessions.WEEKDAY(session_start))>,
 <Feature: MODE(sessions.MONTH(session_start))>,
 <Feature: MODE(sessions.MODE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(transactions.sessions.customer_id)>,
 <Feature: NUM_UNIQUE(transactions.sessions.device)>,
 <Feature: MODE(transactions.sessions.customer_id)>,
 <Feature: MODE(transactions.sessions.device)>]

In [19]:
entities

{'customers': (   customer_id zip_code           join_date date_of_birth
  0            1    60091 2011-04-17 10:48:33    1994-07-18
  1            2    13244 2012-04-15 23:31:04    1986-08-18
  2            3    13244 2011-08-13 15:42:34    2003-11-21
  3            4    60091 2011-04-08 20:08:14    2006-08-15
  4            5    60091 2010-07-17 05:27:50    1984-07-28, 'customer_id'),
 'sessions': (    session_id  customer_id   device       session_start
  0            1            2  desktop 2014-01-01 00:00:00
  1            2            5   mobile 2014-01-01 00:17:20
  2            3            4   mobile 2014-01-01 00:28:10
  3            4            1   mobile 2014-01-01 00:44:25
  4            5            4   mobile 2014-01-01 01:11:30
  5            6            1   tablet 2014-01-01 01:23:25
  6            7            3   tablet 2014-01-01 01:39:40
  7            8            4   tablet 2014-01-01 01:55:55
  8            9            1  desktop 2014-01-01 02:15:25
  9           10            2   tablet 2014-01-01 02:31:40
  10          11            4   mobile 2014-01-01 02:47:55
  11          12            4  desktop 2014-01-01 03:04:10
  12          13            4   mobile 2014-01-01 03:15:00
  13          14            1   tablet 2014-01-01 03:28:00
  14          15            2  desktop 2014-01-01 03:41:00
  15          16            2  desktop 2014-01-01 03:49:40
  16          17            2   tablet 2014-01-01 04:00:30
  17          18            1  desktop 2014-01-01 04:14:35
  18          19            3  desktop 2014-01-01 04:27:35
  19          20            5  desktop 2014-01-01 04:46:00
  20          21            4  desktop 2014-01-01 05:02:15
  21          22            4  desktop 2014-01-01 05:21:45
  22          23            3  desktop 2014-01-01 05:32:35
  23          24            5   tablet 2014-01-01 05:44:30
  24          25            3  desktop 2014-01-01 05:59:40
  25          26            1   tablet 2014-01-01 06:17:00
  26          27            1   mobile 2014-01-01 06:34:20
  27          28            5   mobile 2014-01-01 06:50:35
  28          29            1   mobile 2014-01-01 07:10:05
  29          30            5  desktop 2014-01-01 07:27:25
  30          31            2   mobile 2014-01-01 07:42:35
  31          32            5   mobile 2014-01-01 08:02:05
  32          33            2   mobile 2014-01-01 08:10:45
  33          34            3  desktop 2014-01-01 08:24:50
  34          35            3   mobile 2014-01-01 08:44:20,
  'session_id',
  'session_start'),
 'transactions': (     transaction_id  session_id    transaction_time product_id  amount
  0               298           1 2014-01-01 00:00:00          5  127.64
  1                 2           1 2014-01-01 00:01:05          2  109.48
  2               308           1 2014-01-01 00:02:10          3   95.06
  3               116           1 2014-01-01 00:03:15          4   78.92
  4               371           1 2014-01-01 00:04:20          3   31.54
  ..              ...         ...                 ...        ...     ...
  495             112          35 2014-01-01 08:56:15          5   55.42
  496             111          35 2014-01-01 08:57:20          3   34.87
  497             276          35 2014-01-01 08:58:25          1   10.94
  498             266          35 2014-01-01 08:59:30          5   19.86
  499             203          35 2014-01-01 09:00:35          3  148.31

  [500 rows x 5 columns], 'transaction_id', 'transaction_time')}