In [1]:
import pandas as pd
df = pd.read_csv("blood.csv")

In [2]:
import featuretools as ft
es = ft.EntitySet(id = 'df')
es.entity_from_dataframe(entity_id = 'data', dataframe = df, 
                         make_index = True, index = 'index')

Entityset: df
  Entities:
    data [Rows: 748, Columns: 6]
  Relationships:
    No relationships

In [3]:
feature_matrix, feature_defs = ft.dfs(entityset = es, target_entity = 'data',
                                      trans_primitives = ['add_numeric', 'multiply_numeric'])

In [4]:
feature_matrix

,V1,V2,V3,V4,class,class + V1,class + V4,V1 + V2,V2 + V3,class + V3,...,class + V4 * V2 + V3,V1 * V2 + V3,class + V3 * V4,class + V1 * V3 + V4,class * V1 + V3,V1 + V4 * V3,class * class + V2,class + V3 * V2 + V3,V2 + V3 * V3 + V4,class + V2 * V2 + V4
index,,,,,,,,,,,,,,,,,,,,,
0,2,50,12500,98,2,4,100,52,12550,12502,...,1255000,25100,1225196,50392,25004,1250000,104,156900100,158104900,7696
1,0,13,3250,28,2,2,30,13,3263,3252,...,97890,0,91056,6556,6500,91000,30,10611276,10696114,615
2,1,16,4000,35,2,3,37,17,4016,4002,...,148592,4016,140070,12105,8002,144000,36,16072032,16204560,918
3,2,20,5000,45,2,4,47,22,5020,5002,...,235940,10040,225090,20180,10004,235000,44,25110040,25325900,1430
4,1,24,6000,77,1,2,78,25,6024,6001,...,469872,6024,462077,12154,6001,468000,25,36150024,36607848,2525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,23,2,500,38,1,24,39,25,502,501,...,19578,11546,19038,12912,523,30500,3,251502,270076,120
744,21,2,500,52,1,22,53,23,502,501,...,26606,10542,26052,12144,521,36500,3,251502,277104,162
745,23,3,750,62,1,24,63,26,753,751,...,47439,17319,46562,19488,773,63750,4,565503,611436,260
746,39,1,250,39,1,40,40,40,251,251,...,10040,9789,9789,11560,289,19500,2,63001,72539,80
747,72,1,250,72,1,73,73,73,251,251,...,18323,18072,18072,23506,322,36000,2,63001,80822,146