In [36]:
import featuretools as ft
import pandas as pd

In [37]:
df = pd.read_csv("blood.csv")

In [38]:
df

     V1  V2     V3  V4  class
0     2  50  12500  98      2
1     0  13   3250  28      2
2     1  16   4000  35      2
3     2  20   5000  45      2
4     1  24   6000  77      1
..   ..  ..    ...  ..    ...
743  23   2    500  38      1
744  21   2    500  52      1
745  23   3    750  62      1
746  39   1    250  39      1
747  72   1    250  72      1

[748 rows x 5 columns]

In [42]:
df['index_col'] = df.index

In [43]:
df

     V1  V2     V3  V4  class  index_col
0     2  50  12500  98      2          0
1     0  13   3250  28      2          1
2     1  16   4000  35      2          2
3     2  20   5000  45      2          3
4     1  24   6000  77      1          4
..   ..  ..    ...  ..    ...        ...
743  23   2    500  38      1        743
744  21   2    500  52      1        744
745  23   3    750  62      1        745
746  39   1    250  39      1        746
747  72   1    250  72      1        747

[748 rows x 6 columns]

In [45]:
#es = ft.EntitySet()
es = es.entity_from_dataframe(dataframe=df, entity_id = "index_col")

2020-07-06 03:45:58,684 featuretools.entityset - WARNING    ('Using first column as index. ', 'To change this, specify the index parameter')

AssertionError: Index is not unique on dataframe (Entity index_col)

In [32]:
#ft.EntitySet().entity_from_dataframe(dataframe=df,entity_id = "index_col" )

In [33]:
es = ft.EntitySet()
#matches_df = pd.read_csv("./blood.csv")
es.entity_from_dataframe(entity_id="data",
                         index="index_col",
                         dataframe=df)

Entityset: None
  Entities:
    data [Rows: 748, Columns: 6]
  Relationships:
    No relationships

In [34]:
es

Entityset: None
  Entities:
    data [Rows: 748, Columns: 6]
  Relationships:
    No relationships

In [35]:
feature_matrix_customers, features_defs = ft.dfs(entities=es,
                                                  target_entity="class")

KeyError: 'Entity 0 does not exist in entity set'